[SddmGreeterTheme]
Name=Sakura
Description=Simple sakura theme with video background and left-aligned login
Author=YourName
Type=sddm-theme
Version=1.0
Theme-Id=sakura
Theme-API=2.0
MainScript=Main.qml
QtVersion=6
